global
    maxconn 100

defaults
    log global
    mode tcp
    retries 2
    timeout client 30m
    timeout connect 4s
    timeout server 30m
    timeout check 5s

listen stats
    mode http
    bind *:{{ STATS_PORT }}
    stats enable
    stats uri /

listen postgres
    bind *:{{ HAPROXY_PORT }}
    # option httpchk
    option pgsql-check user postgres
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server node1 {{ NODE_1_IP }}:5432 maxconn 100 check
    server node2 {{ NODE_2_IP }}:5432 maxconn 100 check
    server node3 {{ NODE_3_IP }}:5432 maxconn 100 check
