# Configuration snippets may be placed in this directory as well
includedir /etc/krb5.conf.d/

[logging]
 default = FILE:/var/log/krb5libs.log
 kdc = FILE:/var/log/krb5kdc.log
 admin_server = FILE:/var/log/kadmind.log

[libdefaults]
 dns_lookup_realm = true
 ticket_lifetime = 24h
 renew_lifetime = 7d
 forwardable = true
 rdns = false
 pkinit_anchors = /etc/pki/tls/certs/ca-bundle.crt
 default_realm = NFS_SERVER
 default_ccache_name = KEYRING:persistent:%{uid}

[realms]
NFS_SERVER = {
 kdc = {{ KERBEROS_HOST }}
 admin_server = {{ KERBEROS_HOST }}
}

[domain_realm]
.example.com = NFS_SERVER
example.com = NFS_SERVER
