ALTER USER USER() IDENTIFIED BY '{{ SLAVE_PASS }}';
RESET master;
SOURCE /tmp/master.sql;
USE bet;
CHANGE MASTER TO MASTER_HOST = '{{ MASTER_IP }}', MASTER_PORT = 3306, MASTER_USER = "repl", MASTER_PASSWORD = "{{ REPL_PASS }}", MASTER_AUTO_POSITION = 1;
START SLAVE;
