ALTER USER USER() IDENTIFIED BY '{{ MASTER_PASS }}';
CREATE DATABASE bet;
CREATE USER 'repl'@'%' IDENTIFIED BY '{{ REPL_PASS }}';
GRANT REPLICATION SLAVE ON *.* TO 'repl'@'%' IDENTIFIED BY '{{ REPL_PASS }}';
