[mysqld]
log-bin = /var/lib/mysql/mybin.log
expire-logs-days = 14
max-binlog-size  = 500M
binlog-format = STATEMENT
replicate-ignore-table=bet.events_on_demand
replicate-ignore-table=bet.v_same_event
