dev {{ VPN_INTERFACE }}
proto {{ PROTOCOL }}
remote {{ SERVER_IP }} {{ SERVER_PORT }}

client
resolv-retry infinite
route {{ REMOTE_NET }} {{ REMOTE_NETMASK }}

ca /etc/openvpn/ca.crt
cert /etc/openvpn/{{ ROLE|lower }}.crt
key /etc/openvpn/{{ ROLE|lower }}.key

persist-key
persist-tun
comp-lzo
verb 3
status-version 3
